{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'visit_logs.index' %} active {% endif %}" aria-current="page"
            href="{{ url_for('visit_logs.index') }}">Журнал посещений</a>
    </li>
    {% if current_user.can("view_logs") %}
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'visit_logs.users_stats' %} active {% endif %}"
            href="{{ url_for('visit_logs.users_stats') }}">Статистика по пользователям</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.endpoint == 'visit_logs.paths_stats' %} active {% endif %}"
            href="{{ url_for('visit_logs.paths_stats') }}">Статистика по страницам</a>
    </li>
    {% endif %}
</ul>
{% block visit_logs_content %}
{% endblock %}
{% endblock %}