{% macro product_form(action, characteristics, categories, current_characteristics='', product_data='') %}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="product_name" class="form-label">Название товара</label>
        {% if action=='edit' %}
        <input type="text" name="product_name" id="product_name" class="form-control" value="{{ product_data.name }}">
        {% else %}
        <input type="text" name="product_name" id="product_name" class="form-control">
        {% endif %}
    </div>

    <h4 id="category_header">Категории</h4>
    <div class="mb-3">
        <select class="form-select" aria-label="Product category" name="product_category_select"
            id="product_category_select">
            {% for category in categories %}
            {% if action=='edit' %}
            {% if product_data.category_id==category.id %}
            <option value="{{ category.id }}" selected>{{ category.category }}</option>
            {% else %}
            <option value="{{ category.id }}">{{ category.category }}</option>
            {% endif %}
            {% else %}
            <option value="{{ category.id }}">{{ category.category }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <h4 id="characteristics_header">Характеристики</h4>
    {% if action == 'edit' and current_characteristics %}
    {% for current_characteristic in current_characteristics %}
    <div class="input-group mb-3">
        <select class="form-select" aria-label="Product characteristic" name="product_characteristic_select_1"
            id="product_characteristic_select_1">
            {% for characteristic in characteristics %}
            {% if characteristic.id==current_characteristic.id %}
            <option value="{{ characteristic.id }}" selected>{{ characteristic.characteristic }}</option>
            {% else %}
            <option value="{{ characteristic.id }}">{{ characteristic.characteristic }}</option>
            {%endif %}
            {% endfor %}
        </select>
        <input type="text" name="product_characteristic_input_1" id="product_characteristic_input_1"
            class="form-control" value="{{ current_characteristic.value }}">
        <button class="btn btn-danger deleteBtn" id="product_characteristic_button_1">Удалить</button>
    </div>
    {% endfor %}
    {% else %}
    <div class="input-group mb-3">
        <select class="form-select" aria-label="Product characteristic" name="product_characteristic_select_1"
            id="product_characteristic_select_1">
            {% for characteristic in characteristics %}
            <option value="{{ characteristic.id }}">{{ characteristic.characteristic }}</option>
            {% endfor %}
        </select>
        <input type="text" name="product_characteristic_input_1" id="product_characteristic_input_1"
            class="form-control">
        <button class="btn btn-danger deleteBtn" id="product_characteristic_button_1">Удалить</button>
    </div>
    {% endif %}
    <div class="mb-3">
        <button type="button" class="btn btn-success" id="product_characteristic_add_button">Добавить
            характеристику</button>
    </div>
    <div class="mb-3">
        {% if action == 'new' %}
        <label for="product_img">Изображение товара</label>
        {% else %}
        <label for="product_img">Новое изображение товара</label>
        {% endif %}
        <input class="form-control" type="file" name="product_img" id="product_img">
    </div>
    <div class="mb-3">
        <label for="product_description" class="form-label">Описание товара</label>
        {% if action == 'edit' %}
        <textarea name="product_description" id="product_description" class="form-control" cols="30"
            rows="7">{{ product_data.description }}</textarea>
        {% else %}
        <textarea name="product_description" id="product_description" class="form-control" cols="30"
            rows="7"></textarea>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="product_price" class="form-label">Цена товара</label>
        {% if action == 'edit' %}
        <input type="number" name="product_price" id="product_price" class="form-control" min="0"
            value="{{ product_data.price }}" step="0.01">
        {% else %}
        <input type="number" name="product_price" id="product_price" class="form-control" min="0" value="0" step="0.01">
        {% endif %}
    </div>
    <button type="submit" class="btn btn-info">Сохранить</button>
</form>
{% endmacro %}