{% extends 'products/index.html' %}

{% block product_content %}
<div class="container bg-info-subtle pb-3 rounded mb-4">
    <h1 class="mb-2">{{ product.name }}</h1>
    <h3 class="mb-3">Цена: {{ product.price }} ₽</h3>

    <img class="img-fluid mb-3" src="{{ url_for('image', image_id=image.id) }}" alt="Здесь могла быть картинка">

    <div class="row">
        {% if current_user.is_authenticated %}
        <div class="column col-sm-4">
            <form method="post"
                action="{{ url_for('user_products.buy_product', product_id=product.id, user_id=current_user.id) }}">
                <button type="submit" class="btn btn-success">Добавить в корзину</button>
            </form>
        </div>
        {% if current_user.can('delete', current_user) %}
        <div class="column col-sm-4">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                data-product-id="{{ product.id }}">Удалить</button>
        </div>
        {% endif %}
        {% if current_user.can('update_product', current_user) %}
        <div class="column col-sm-4">
            <a class="btn btn-info"
                href="{{ url_for('products.edit_product', product_id=product.id) }}">Редактировать</a>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>

<div class="container bg-info-subtle rounded mb-4">
    <h3>Характеристики {{ product.name }}</h3>
    <ul class="mb-3 pb-2">
        {% for characteristic in characteristics %}
        <li>{{ characteristic.characteristic }}:&nbsp;{{ characteristic.value }}</li>
        {% endfor %}
    </ul>
</div>

<div class="container bg-info-subtle rounded mb-4">
    <h3>Описание</h3>
    <p>{{ product.description }}</p>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Удаление товара</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить данный товар?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <form method="post" id="deleteModalForm">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='product_delete_modal.js') }}"></script>
{% endblock %}